<h2>A taxa de conversão do dólar é {{taxa}}</h2>

<form action="conversao" method="POST">
    <input class="form-control mb-1" type="text" name="valor" placeholder="Digite o valor em R$">

    <button class="btn btn-primary">Converter</button>
</form>
